.container {
  outline: 1px solid green;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  height: 300px;
}

.scroll {
  display: flex;
  flex-direction: column-reverse;
}

.item {
  width: 100%;
  height: 100px;
  outline: 1px solid red;
}